button{
	width: 250px;
	margin: 5px;
}
nav{
	margin: 5px;
	border-radius: 10px;
}
input{
	margin: 2px;
	
}
#inputs{
	display: none;
	margin: 2px;
}
#results{
	display: none;
	margin: 2px;
}
span{
	display: none;
}
#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8{
	display: none;
	position: absolute;
	background: orange;
	padding: 0px;
	margin: 0px;
	border-radius: 50%;
	background: red;
}
#startfoo{
	display: none;
	position: absolute;
	background: red;
	width: 10px;
	height: 10px;
	top: 300px;
	left: 500px;
	border-radius: 50%;
			}
#mCalcButtonDead{
	display: none;
	background-color: silver !important;
	border-color: silver !important;
}
#mCalc{
	display: none;
	margin: 10px;
	width:auto !important;
}
#mCalcButton{
	display: block;
}
#calcButton{
	width:auto !important;
	margin-right: 1px;
	margin-bottom: 5px;
}
#clearButton{
	display: none;
	width: auto !important;
	margin-left: 1px;
	margin-bottom: 5px;
}
#panelHead{
	background-color: silver !important;
	border-color: silver !important;
	color: white !important;
}
#panel{
	border-color: silver !important;
	background-color: white;
	display: none;
}
#gameStart{
	display: block;
}
#gameStop{
	display: none;
}
#gamePanel{
	display: none;
	margin: 50px;
}
#gameRunning{
	display:none;
	margin: 5px;
}
#gameStopped{
	display:none;
}
#bInfo{
	display: none;
	margin-top: 10px !important;
	margin: 20px;
}
#cookieCheck, #browserInfo{
	background-color: #bfbfbf !important;
	
}
#cookieVerify{
	display:none;
	background-color: green !important;
}
#cookieClear{
	display:none;
	background-color: red !important;
}
a{
	color: white !important;
}
#goodBrowser{
	display: none;
}
#goodBrowser.hover{
	cursor: pointer;
}
#greeting{
	display: none;

}

